page-product-list {
   
    ion-grid {
        height: 100%;
        justify-content: center;
    }

    .card{
        width: 100%;
        margin: 5px 0 5px 0;
    }

    .feed-background{
        background: $content-background;
    }

    .grid-empty-background{
        background: $grid-empty-background;
    }

    .vertical-middle-content{
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .product-icon{
        vertical-align: middle;
    }

    .product-price {
        color: color($colors, primary, base);
    }

    .subtitle{
        color: #777777;
    }

}
